@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/grayDark.css";
@import "@radix-ui/colors/grayDarkA.css";

@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purpleDark.css";
@import "@radix-ui/colors/purpleDarkA.css";

@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/mauveDark.css";
@import "@radix-ui/colors/mauveDarkA.css";

@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/sandDark.css";
@import "@radix-ui/colors/sandDarkA.css";

@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/violetDark.css";
@import "@radix-ui/colors/violetDarkA.css";

@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigoDark.css";
@import "@radix-ui/colors/indigoDarkA.css";

:root {
	/* --black-lightness: 15%;
	--dark-lightness: 44%;
	--light-lightness: 94%;
	--white-lightness: 100%;
	--color-primary: hsl(var(--primary-hue), 89%, 41%);
	--color-white: hsl(0, 5%, var(--white-lightness));
	--color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
	--color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
	--color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));  */

	/* BORDER RADIUS VARIABLES */
	--border-radius-1: 4px;
	--border-radius-2: 6px;
	--border-radius-3: 8px;

	--backlight: 0 0 20px 2px #8641b4, -15px 0 30px -15px #e98b39,
		0 0 30px -15px #ff002f, 15px 0 30px -15px #5252d0;

	--backlight2: 0 0 6px 2px #ff8c00, -15px 0 30px -15px #ff2d55,
		0 0 30px -15px #007aff, 15px 0 30px -15px #4cd964;

	/* they play - COLORS  */
	--color-text: var(--mauve1);

	--color-white: rgba(255, 255, 255, 1);

	--color-dark: rgba(255, 255, 255, 0.3);
	--color-dark-2: rgba(255, 255, 255, 0.15);
	--color-dark-3: rgba(0, 0, 0, 0.15);
	--color-primary: hsl(288, 94%, 37%);

	/* GENERAL TRANSITION VARIABLE */
	--transition: all 300ms ease;

	/* border-line  */
	--border-line: 0.1px solid var(--color-dark-2);

	/* primary-hue  */
	--background: rgb(14, 14, 30);
}

/* @keyframes increase {
	0% {
		--primary-hue: 120;
	}
	50% {
		--primary-hue: 350;
	}
	100% {
		--primary-hue: 0;
	}
} */

html {
	box-sizing: border-box;
	background-color: var(--background);
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;

	/* TRYING OUT THE FONT-SMOOTH FEATURE */
	font-smooth: antialiased;
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

body > * {
	margin: 0;
	padding: 0;
	line-height: 1;
}

h3 {
	font-weight: 300;
	font-size: 1.1rem;
}

main {
	background-color: black;
	color: white;
}

/* THE MAIN HOME CONTAINER FOR ALL COMPONENTS */
.home-container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
	height: 100vh;
	min-height: 0;
	position: relative;
	width: 100%;
}

.sidebar {
	position: relative;
	font-family: inherit;
	grid-column: 1/2;
	/* background-color: black; */
	background-color: var(--violetA2);
	background-color: var(--background);
	padding-top: 1.2rem;
	border-right: 0.1px solid var(--mauve9);
	/* background-image: linear-gradient(175deg, rgba(62, 3, 87, 0.708) 0, rgb(22 0 61 / 0%) 14vh); */
}

.sidebar::-webkit-scrollbar {
	width: 0.2em;
	background-color: transparent;
}

/* .center {
	flex: 1;
} */

.player {
	grid-column: 1/-1;
	grid-row: 2/ -1;
	color: var(--color-text);
	background-color: var(--background);
	height: 4.5rem;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 0.4rem;
	border-top: 0.1px solid var(--mauve8);
}

.center__heading {
	display: flex;
	padding: 1rem 2rem;
	justify-content: space-between;
	align-items: center;
	line-height: 0;
}

.btn__add-song {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	cursor: pointer;
	background-color: white;
	color: rgb(74, 74, 74);
	padding: 10px 18px;
	border-radius: 4px;
	border: none;
	font-weight: 600;
	font-size: 0.9rem;
	border-radius: 7px;
	box-shadow: 0 0 0 0 rgba(97, 113, 122, 0.353);
	animation: btnPulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

/*  */

@keyframes btnPulse {
	to {
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
	}
}

/*  */

.profile__name {
	font-size: 0.7rem;
	color: white;
}

/* SIDEBAR COMPONENTS  */

.logo-box {
	color: white;
	flex: 1;
	margin-bottom: 1.2rem;
	padding: 0 1rem;
	padding-bottom: 0.4rem;
	margin: 0 1rem;
	/* width: 10rem; */
}

.logo-box svg {
	fill: rgb(255, 249, 255);
	stroke: rgb(144, 27, 153);
}

.sidebar-nav {
	list-style: none;
	padding: 0;
	padding: 0 1.5rem;
}

.sidebar-nav li {
	font-size: 0.8rem;
	background-color: none;
	transition: background-color 0.2s ease;
}

.sidebar-nav li:hover {
	background-color: var(--violet2);
	border-radius: 4px;
}

.sidebar-nav svg {
	height: 1.1rem;
}

.sidebar a {
	text-decoration: none;
	color: var(--color-text);
	display: flex;
	align-items: center;
	border-radius: 0.25rem;
	gap: 0.35rem;
	height: 2.5rem;
	font-weight: 600;
	/* font-size: 1rem; */
}

.sidebar a:hover {
	color: white;
}

.line {
	margin: 1.2rem 1.5rem;
	border: 0.1px solid var(--mauve8);
}

.line-2 {
	margin: 1.2rem 1.5rem;
	border: 0.1px solid var(--mauve3);
}

.heading__sidebar-playlist {
	color: #ffffffc1;
	font-size: 0.7rem;
	font-weight: 600;
	margin-bottom: 0;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1.3rem;
}

.sidebar__playlists {
	margin-top: 0;
	min-height: fit-content;
	max-height: 17rem;
	padding: 0 1.7rem;
	font-size: 0.8rem;
	overflow-y: scroll;

	mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.15), rgb(0, 0, 0) 10%);
}

.sidebar__playlists > * {
	list-style: none;
	padding-left: 0;
}

.sidebar__playlist {
	display: flex;
	align-items: center;
}

.sidebar__playlist::before {
	content: "";
	height: 1rem;
	width: 1rem;
	display: inline-block;
	background-color: var(--color-text);
	background-image: none;
	mask-image: url(../public/play-list-fill.svg);
	mask-size: cover;
	margin-right: 0.8rem;
}

.sidebar__playlist:hover::after {
	content: "";
	height: 0.7rem;
	width: 0.7rem;
	display: inline-block;
	background-color: var(--color-text);
	background-image: none;
	mask-image: url(../public/arrow-fill.svg);
	mask-size: cover;
	margin-left: 0.8rem;
}

.sidebar__playlist a:hover {
	color: white;
}

.sidebar__playlist-active::after {
	display: none;
}

.sidebar-footer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.7rem;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(63, 65, 92, 0.221);
	color: rgba(245, 245, 245, 0.744);
	position: absolute;
	bottom: 0;
	border-radius: 6px 6px 0 0;
	font-size: 0.7rem;
}

.footer__image-preview {
	visibility: hidden;
	opacity: 0;

	border: 2px solid rgb(0, 0, 0);
	border-radius: 6px;
	position: absolute;
	bottom: 105%;
	left: 63%;
	/* transform: translate(-120%, 10px) rotateX(60deg); */
	width: 150px;
	height: 116px;
	transition: all 0.2s ease;

	perspective: 1500px;
}

#yusuf-copy:hover {
	color: #dae2ff;
}

#yusuf-copy:hover + .footer__image-preview {
	visibility: visible;
	opacity: 1;
	/* transform: translate(-60%, -4px); */
	/* transform: translate(-120%, -4px) rotateX(0deg); */
	box-shadow: 2px 10px 30px hsla(0, 0%, 0%, 0.25);
	border-radius: 0.25em;
	/* transition: 0.3s; */
}

/* For Sidebar image preview */
.footer__image-preview.sidebar-conf {
	transform: translate(-60%, 20px) rotateX(60deg);
}

#yusuf-copy:hover + .footer__image-preview.sidebar-conf {
	transform: translate(-60%, -4px) rotateX(0deg);
}

/* For Signin image preview */
.footer__image-preview.signin-conf {
	transform: translate(-120%, 40px) rotateX(60deg);
}

#yusuf-copy:hover + .footer__image-preview.signin-conf {
	transform: translate(-120%, 10px) rotateX(0deg);
}

#yusuf-copy {
	text-decoration: underline;
	color: var(--mauveA12);
	display: inline;
	font-weight: 400;
}

.line-3 {
	border: 0.1px solid var(--mauveA4);
	width: 100%;
}

.footer__socials-container {
	/* margin: 0; */
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.footer__socials-container a {
	height: 1rem;
	color: #ffffffc2;
}

/* PLAYER-BAR COMPONENTS  */

/* left bar  */
.left-bar {
	margin: auto 1rem;
	width: 22vw;
}

.left-bar-container {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	border: 0.1px solid #2f2f69df;
	border-radius: 6px;
	box-shadow: 1px 1px 10px 2px #0302228f;
}

.left-bar-container h3 {
	font-size: 0.7rem;
	font-weight: 500;
	color: white;
}

.left-bar-container p {
	color: var(--color-text);
	font-size: 0.6rem;
	font-weight: 300;
}

.btn {
	color: inherit;
	background-color: inherit;
	border: none;
	cursor: pointer;
	transition: var(--transition);
	transform: scale(1);
}

.btn:hover {
	transform: scale(1.07);
}

.btn:active {
	transform: scale(0.9);
}

.btn:focus {
	outline: none;
}

.song-image {
	display: inline;
	width: 3.5rem;
	height: 3.5rem;
	object-fit: cover;
	border-radius: 0.3rem;
	transform: rotate(-15deg);
}

/* Center  */

.player__center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.player__controls-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}

.now__playing-controls {
	display: flex;
	justify-content: center;
	gap: 0.8rem;
	color: var(--color-text);
}

.player .btn:hover {
	color: var(--color-white);
}

#timeBarContainer {
	display: flex;
}
#songCurrentTime {
	margin-right: 0.4rem;
}

#timeBarRectangle {
	background-color: #535353;
	width: 90%;
	height: 4px;
	cursor: pointer;
	position: relative;
}

.player__right {
	margin: auto 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.volume-control-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

#volumeBar {
	height: 2px;
	cursor: pointer;
}

/* CENTER  */
.center {
	background-color: var(--background);
	position: relative;
	overflow: scroll;
	color: var(--color-text);

	/* animation: hue-animation 15s infinite; */
}

.center > * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 0;
}

.center a {
	text-decoration: none;
	color: var(--color-text);
}

.center li {
	list-style: none;
}

.center__heading {
	position: -webkit-sticky;
	position: fixed;
	top: 0;
	z-index: 999;
	display: flex;
	padding: 1rem 2rem;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.1px solid var(--mauve9);
	max-height: 64px;
	width: -webkit-fill-available;
	backdrop-filter: blur(30px);
}

.btn__container {
	display: flex;
	gap: 0.6rem;
	background-color: transparent;
}

.btn__container .btn {
	fill: var(--color-text);
	cursor: pointer;
	background-color: transparent;
}

.center .btn:hover {
	color: var(--color-white);
	fill: white;
}

.user__profile {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: black;
	padding: 0.5rem 1rem;
	border-radius: 50px;
}

.category:nth-of-type(1) {
	margin-top: 80px;
}

.category__heading {
	padding: 1.5rem 2rem;
}

.category__title {
	text-shadow: 4px 4px #01011f;
}

.category__playlists {
	min-height: 205px;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(186px, 190px));
	grid-gap: 2rem;
	padding: 0rem 2.5rem;
	padding-bottom: 1rem;
	width: auto;
}

.playlist__card {
	position: relative;
	height: 180px;
	border-radius: 0.5rem;
	padding-top: 15px;
	overflow: hidden;
	border: 1.2px solid var(--mauve3);
	background: linear-gradient(
			90deg,
			rgba(43, 39, 90, 0.1) 2.81%,
			rgba(43, 39, 90, 0) 50%
		),
		rgba(64, 75, 95, 0.1);
	backdrop-filter: blur(10px);

	box-shadow: 4px 5px 13px 0px #030222;

	/* slight rotation */
	transform: rotate(-2deg);
	transition: background 0.2s ease-out;
}

.playlist__card:hover {
	background: linear-gradient(
			90deg,
			rgba(40, 36, 68, 0.2) 2.81%,
			rgba(31, 28, 66, 0) 50%
		),
		rgba(41, 54, 77, 0.27);
}

.playlist__title {
	color: #dbdbdb;
	/* font-size: 1.2rem; */
	padding: 1rem 1rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
	text-shadow: 3px 3px 4px rgb(0, 6, 31);
}

.playlist__image {
	width: 120px;
	height: 120px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(-5%, -5%);
	object-fit: cover;
	opacity: 0.9;

	background-color: rgba(65, 59, 59, 0.271);
	/* border: 0.1px solid rgb(111, 111, 111); */
	border-radius: 4px;
	transition: all 0.2s ease-out;
	box-shadow: 0px 0px 12px #00000070;
}

.playlist__image-container {
	position: relative;
	overflow: hidden;
}

.playlist__card:hover .playlist__image {
	width: 120px;
	height: 120px;
	filter: brightness(0.5);

	overflow: hidden;
}

.playlist__card .popover-btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	position: absolute;
	left: 80%;
	bottom: -2%;
	opacity: 0;
	transition: all 0.1s ease-out;
	z-index: 9;
	background-color: rgba(71, 78, 97, 0.625);
	border-radius: 50%;
	padding: 5px;
}

.playlist__card:hover .popover-btn {
	opacity: 1;
	bottom: 8%;
	left: 80%;
	z-index: 9;
}

.popover-btn:hover {
	background-color: rgba(71, 78, 97, 0.81);
}

.popover-btn:active {
	background-color: rgba(46, 50, 64, 0.863);
}

.ATP-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	cursor: pointer;
	font-family: "inter", sans-serif;
	position: absolute;
	width: max-content;
	padding: 0.4rem 0.6rem;
	font-weight: 500;
	font-size: 0.8rem;
	background-color: rgba(76, 70, 92, 0.497);
	border: 1px solid rgba(115, 114, 114, 0.972);
	border-radius: 4px;
	backdrop-filter: blur(15px);
	color: rgb(215, 215, 215);
}

.ATP-btn:hover {
	background-color: rgba(154, 154, 154, 0.483);
}

/* skeleton  styling MUI*/

.my__custom-skeleton {
	/* skeleton background color */
	background-color: #75757531;
}

.my__custom-skeleton::after {
	/* skeleton wave color */
	background: linear-gradient(
		90deg,
		transparent,
		rgba(170, 166, 166, 0.613),
		transparent
	) !important;
	content: "";
	position: absolute;
	transform: translateX(-100%);
	inset: 0px;
}

.card-skeleton {
	position: relative;
	overflow: hidden;
	border-radius: 0.5rem;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.5rem;
	border: 0.1px solid var(--mauve3);
	border-radius: 0.7rem;
	background-color: #3d3d3d35;
	height: 180px;
	transform: rotate(-3deg);
}

.title-skeleton {
	padding: 1rem 1.2rem;
	margin: 0;
}

.image-skeleton {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: rotate(324deg) translate(-5%, -5%);
}

/* SEARCH MODAL */
.search-modal {
	background-color: rgba(17, 11, 29, 0.3);
	backdrop-filter: blur(20px);
	border: 1px solid var(--mauve8);
	/* box-shadow: 1px 2px 64px -12px rgba(0, 0, 0, 0.471); */
	box-shadow: var(--backlight);
	border-radius: 3px;
	width: 130%;

	font-family: monospace;
}

.search-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	color: rgba(255, 255, 255, 0.798);

	padding: 1.2rem 1.2rem;
	border-bottom: 0.1px solid rgba(255, 255, 255, 0.1);
}

.search-container:focus {
	outline: none;
}

.search-field {
	border: none;
	background: none;
	font-family: inherit;
	color: inherit;
	font-size: 1.2rem;
	width: 100%;
	outline: none;
	flex: 1;
}

.search-list {
	text-decoration: none;
	list-style: none;
	color: white;
	padding: 0;
	margin: 0;
}

.track-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 0.1px solid transparent;

	border-bottom: 0.1px solid rgba(255, 255, 255, 0.071);
	/* cursor: pointer; */
	padding: 0.5rem;
	padding: 0.8rem 1.5rem;
}

.track-container:hover {
	background-color: rgba(128, 128, 128, 0.11);
	border: 0.1px solid rgba(255, 255, 255, 0.141);
}

.image-container {
	position: relative;
}

.track__play-btn {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	bottom: -20%;
	left: 15%;
	transition: all 0.2s ease-out;
	z-index: 9;
}

.track-container:hover img {
	filter: brightness(0.5);
}

.track-container:hover .track__play-btn {
	opacity: 1;
	visibility: visible;
	bottom: 20%;
	left: 15%;
}

.track-details {
	display: flex;
	align-items: center;
	display: flex;
	gap: 1.2rem;
	cursor: pointer;
}

.track-description {
	display: flex;
	flex-direction: column;
	line-height: 0;
	margin: 0;
	padding: 0 1rem;

	max-width: 15vw;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.track-image {
	object-fit: cover;
	transform: rotate(15deg) scale(1.3);
	border-radius: 3px;
	background: rgba(57, 85, 179, 0.272);
}

.track-name {
	font-weight: bolder;
	color: white;
	font-size: 0.8rem;
	overflow: visible;
	white-space: nowrap;
	text-overflow: ellipsis;

	/* margin-bottom: 0.5rem; */
	line-height: 0.2;
}

.track-artist {
	color: var(--color-text);
	font-size: 0.8rem;
	margin-bottom: 0.3rem;
}

/* Child modal properties */
.child__search-container {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 1rem;
	color: rgba(255, 255, 255, 0.798);
	font-family: monospace;
	font-size: 1rem;
	padding: 1.2rem 1.2rem;
	background-color: rgba(17, 11, 29, 0.3);
	backdrop-filter: blur(10px);
	border-bottom: 1px solid rgb(19, 22, 76);
}

.child__search-modal {
	background-color: rgba(17, 11, 29, 0.3);
	backdrop-filter: blur(10px);
	border: 1px solid var(--mauve5);
	border-radius: 4px;
	box-shadow: var(--backlight2);

	font-family: monospace;
}

/* sign-up page  */

.s-header {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	box-sizing: border-box;
	position: fixed;
	display: block;
	width: 100vw;
	top: 0;
	color: white;
	padding: 1rem 0;
	background-color: rgba(1, 21, 76, 0.059);
	/* border-bottom: 0.1px solid var(--mauve9); */
	padding: 1rem 2rem;
	position: fixed;
}

.s-header::after {
	content: "";
	margin-left: 2.6rem;
	margin-right: 2.6rem;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 1px;
	background: rgba(255, 255, 255, 0.08);
}

.s-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1px 2rem;
}

.s-app-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1rem;
}

.s-app-title strong {
	letter-spacing: 4px;
	font-weight: 600;
	font-size: 1.2rem;
	text-shadow: 2px 2px 2px rgb(0 0 0);
}

.header-items {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.8rem;
}

.header-items .sign-in-text {
	cursor: pointer;
	text-decoration: underline;
	font-weight: 700;
	font-size: 1.2rem;
	color: rgb(255, 255, 255);
}

.header-items .sign-up-text {
	cursor: pointer;
	text-decoration: underline;
	font-weight: 700;
	font-size: 1.1rem;
	color: rgb(195, 195, 195);
}

.tooltip-title {
	display: inline-block;
	/* background-color: rgba(97, 97, 97, 0.92); */
	border-radius: 4px;
	color: rgb(214, 214, 214);
	font-family: system-ui, -apple-system;
	padding: 4px 8px;
	font-size: 0.7rem;
	/* max-width: 300px; */
	margin: 0px;
	overflow-wrap: break-word;
	font-weight: 500;
	line-height: 1.4;
	position: relative;
}

.header-items .sign-in-text:hover {
	color: var(--purple4);
}

.header-items .sign-in-text:active {
	color: var(--purple7);
}

/* Sign-in page style  */
.container {
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: flex-start;
	padding-top: 9rem;

	background-color: #02012827;

	color: white;
	height: 100vh;
	overflow: hidden;
}

/* svg animation container */
.hero-animation {
	margin: 0;
	max-width: 1200px;
	height: 100%;
	position: absolute;
	bottom: 0;
	width: 50%;
	overflow: hidden;
	filter: blur(30px);
	z-index: -1;
}

.heading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.heading-primary {
	font-size: 4rem;
	text-shadow: 2px 6px 16px black;
	margin-bottom: 0;
	text-align: center;
	justify-content: center;
	line-height: 1.1;
	opacity: 1;
	transform: none;
}

.heading-secondary {
	display: flex;
	justify-content: center;
	flex-basis: 70%;
	max-width: 70%;
	margin-top: 1.5rem;
	color: var(--mauve7);
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.5;
	opacity: 1;
	text-align: center;
	text-shadow: 0 5px 10px #05024fa9;
}

.image-box {
	margin-bottom: 2rem;
}

/* bg-[#18D860] text-white p-5 rounded-full */

.sign-in-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-size: 1rem;
	margin-top: 1.5rem;
	font-weight: 600;
	background-color: rgb(2, 142, 70);
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;

	padding: 1.1rem 5rem;
	transition: all 0.4s ease;
}

.sign-in-button:hover {
	background-color: rgb(20, 181, 98);
	transform: scale(1.05);
}

.sign-in-button:active {
	background-color: rgb(2, 142, 70);
}

.s-footer {
	font-family: monospace;
	box-sizing: border-box;
	position: fixed;
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	width: 100vw;
	bottom: 0;
	color: var(--mauve8);
	background: transparent;
	text-align: center;
	font-weight: 400;
	font-size: 1rem;

	padding: 1.3rem 2rem;
}

.s-footer svg {
	transition: all 0.4s ease;
}

.s-footer svg:hover {
	transform: rotateZ(-30deg);
	fill: rgb(255, 138, 255);
}

/* PRIVACY POLICY PAGE */
.privacy-policy-container {
	min-height: 100vh;
	font-family: "Trebuchet MS";
	margin: 0 auto;
	padding: 7rem 10rem;
	background-color: var(--background);
	background-color: var(--background);
	background-color: rgb(20, 20, 31);
}

.privacy-policy-container__heading {
	font-size: 2.5rem;
	margin-bottom: 2.5rem;
}

.privacy-policy-container h1,
h2,
h3 {
	font-weight: 400;
	margin-bottom: 1.3rem;
}

.privacy-policy-container hr {
	border: 0.1px solid rgba(245, 222, 179, 0.684);
}

.privacy-policy-container h1 {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 1.7rem;
	margin-bottom: 2rem;
}

.privacy-policy-container h2 {
	font-size: 1.5rem;
}

.privacy-policy-container h3 {
	font-size: 1.2rem;
}

.privacy-policy-container p {
	line-height: 1.5;
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 16px;
}

.privacy-policy-container li {
	line-height: 1.8;
	font-weight: 400;
	list-style: revert;

	font-size: 16px;
}

.privacy-policy-container li:last-child {
	margin-bottom: 3rem;
}

.privacy-policy-container__last-paragraph {
	margin-bottom: 0;
}

.privacy-policy-container__main {
	background-color: #f5f5f5;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.privacy-policy-container a {
	color: #ba57de;
	text-decoration: none;
	transition: color 0.2s ease;
}

.privacy-policy-container a:hover {
	color: #eb50ff;
}

/* PRIVACY POLICY PAGE */

/* ----  */

/* Words rotator  */
.rotator-container {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 4rem;
	/* line-height: 0; */
}

.words {
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	overflow: hidden;
	height: 70px;
}
.words span {
	display: block;
	height: 100%;
	color: #75abfb;
	animation: spin_words 6s infinite;
}

/* Animations  */
@keyframes hue-animation {
	0% {
		filter: hue-rotate(0deg);
	}

	50% {
		filter: hue-rotate(359deg);
	}

	100% {
		filter: hue-rotate(0deg);
	}
}

@keyframes spin_words {
	10% {
		transform: translateY(-112%);
	}
	25% {
		transform: translateY(-100%);
	}
	35% {
		transform: translateY(-212%);
	}
	50% {
		transform: translateY(-200%);
	}
	60% {
		transform: translateY(-312%);
	}
	75% {
		transform: translateY(-300%);
	}
	85% {
		transform: translateY(-412%);
	}
	100% {
		transform: translateY(-400%);
	}
}

/* bg animation  */
@keyframes bganimation {
	0% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 2.11827;
	}
}
