.playlistContainer {
	height: 250px;
	color: white;
	background-color: rgb(18, 18, 18);
	transition: all 1s ease;
	white-space: nowrap;
	line-height: 1;
}

.playlistContainer > * {
	background-color: rgb(17, 17, 17);
}

.playlistHead {
	background-image: linear-gradient(
		to bottom,
		hsla(var(--playlist-hue), 100%, 25%, 0.5) 0,
		hsla(var(--playlist-hue), 100%, 15%, 0.5) 100%
	);

	/* background-color: rgb(66 117 255 / 42%); */
	display: flex;
	padding: 1.4rem;
	padding-top: 7rem;
	border-bottom: 0.1px solid #ffffff00;
}

.headContentContainer {
	display: flex;
	gap: 1.4rem;
	align-items: flex-end;
}

.playlistImageContainer {
	box-shadow: 1px 2px 65px -12px rgba(0, 0, 0, 0.471);
	border-radius: 3px;
	width: 200px;
	height: 200px;
	background-color: #3a393926;
}

.playlistImage {
	object-fit: cover;
	box-shadow: 1px 2px 65px -12px rgba(0, 0, 0, 0.471);
	border-radius: 3px;
}

.playlistDetails {
	display: flex;
	flex-direction: column;
	line-height: 0;
}

.playlistDetails > * {
	display: inline-block;
	font-weight: bold;
}

.playlistContributors {
	font-size: 0.7rem;
	font-weight: 500;
}

.playlistContributorsNames {
	font-size: 0.8rem;
	font-weight: 600;
	text-decoration: underline;
}

.playlistName {
	font-size: 4rem;
	/* min-width: 500px; */
	padding-bottom: 1rem;
	line-height: 0;
	text-shadow: 4px 4px 8px rgba(27, 27, 27, 0.503);
}

.playlistDescription {
	font-size: 0.7rem;
	font-weight: bold;
}

.playlistContent {
	background-image: linear-gradient(
		to bottom,
		hsla(var(--playlist-hue), 93%, 16%, 0.467) 0,
		hsla(0, 0%, 7%, 0.539) 40vh
	);
}

.playlistControl {
	/* min-height: 4rem; */
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1.5rem;
	/* border: 1px solid green; */
}

.playlistPlayBtn {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	gap: 0.4rem;
	/* border: 1px solid hsla(278, 100%, 66%, 0.42); */
	color: rgb(220, 220, 220);
	background-color: rgba(255, 255, 255, 0.037);
	border-radius: 8px;
	font-weight: 500;
	font-size: 0.8rem;
	margin-right: 1.4rem;
	padding: 0.7rem 1.7rem;
	/* min-width: 150px; */
}

.addToSpotifyBtn {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	gap: 0.8rem;
	/* border: 1px solid hsla(278, 100%, 66%, 0.42); */
	color: rgb(220, 220, 220);
	background-color: rgba(255, 255, 255, 0.037);
	padding: 0.7rem 1.7rem;
	border-radius: 8px;
	font-weight: 500;
	font-size: 0.8rem;
	margin-right: 1.4rem;
	/* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.444); */
	transition: all 0.2s ease-out;
}

.songListContainer {
	padding: 1rem 2rem;
	min-height: 60vh;
	/* border: 1px solid orangered; */
}

.listGrid {
	display: grid;
	grid-template-columns: [SN] 20px [title] 5fr [item1] 3fr [item2] 3fr [last] minmax(
			120px,
			1fr
		);
	gap: 1rem;
	color: var(--color-text);
	align-items: center;
	height: 4rem;
	padding-left: 1rem;
	background-color: transparent;
	transition: all 0.2s ease-in;
}

.listGrid:hover:not(.listHead) {
	background-color: rgba(117, 117, 117, 0.11);
	cursor: pointer;
}

/* .listGrid:nth-child(even) {
	background-color: white;
} */

.listGrid:hover .songImage {
	transform: rotate(-10deg);
}

.listHead {
	height: 36px;
	border-bottom: 0.1px solid rgba(255, 255, 255, 0.101);
	font-size: 0.75rem;
}

.songList {
	padding: 0;
	font-size: 0.7rem;
}

.songList li:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.01);
}

.SN {
	font-size: 0.75rem;
}

.songDetails {
	display: flex;
	align-items: center;
	display: flex;
	gap: 1.2rem;
	overflow: hidden;
	padding-left: 0.5rem;
}

.songDescription {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0.1rem;
	line-height: 0;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.songImage {
	object-fit: cover;
	transform: rotate(-30deg);
	border-radius: 3px;
	background: rgba(57, 85, 179, 0.272);
	transition: transform 0.3s ease;
}

.songTitle,
.songTitle + p {
	font-weight: bold;
	color: white;
	font-size: 0.75rem;
	margin: 6px;
	overflow: hidden;
	line-height: 1;
	/* white-space: nowrap; */
	text-overflow: ellipsis;
}

/* Animations  */
@keyframes hue-animation {
	0% {
		filter: hue-rotate(0deg);
	}

	50% {
		filter: hue-rotate(359deg);
	}

	100% {
		filter: hue-rotate(0deg);
	}
}

/* TABLET */
@media screen and (max-width: 900px) {
	.listGrid {
		grid-template-columns: [SN] 20px [title] 6fr [item1] 2fr [item2] 2fr;
	}

	.submittedAtBox {
		display: none;
	}

	.submittedAtHeading {
		display: none;
	}
}
/* MOBILE */
@media screen and (max-width: 650px) {
	.listGrid {
		grid-template-columns: [SN] 20px [title] 6fr [item1] 1.5fr;
	}

	.playlistDetails {
		max-width: 80vw;
		white-space: break-spaces;
		line-height: 1;
	}
	.playlistHead {
		padding-top: 6rem;
		/* min-height: 70vh; */
		max-height: none;
	}

	.playlistName {
		order: -2;
		font-size: 3rem;
	}

	.playlistDescription {
		order: -2;
	}

	.headContentContainer {
		flex-direction: column;
		align-items: flex-start;
	}

	.headContentContainer {
		white-space: break-spaces;
		max-width: 80vw;
	}

	.popularityHeading {
		display: none;
	}

	.ratingsContainer {
		display: none;
	}

	.songListContainer {
		padding: 1rem;
	}

	/* .songDescription {	
	}  */
}
