/* sign-up page  */

.s-header {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	box-sizing: border-box;
	position: fixed;
	display: block;
	width: 100vw;
	top: 0;
	color: white;
	padding: 1rem 0;
	background-color: rgba(1, 21, 76, 0.059);
	/* border-bottom: 0.1px solid var(--mauve9); */
	padding: 1rem 2rem;
	position: fixed;
}

.s-header::after {
	content: "";
	margin-left: 2.6rem;
	margin-right: 2.6rem;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 1px;
	background: rgba(255, 255, 255, 0.08);
}

.s-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1px 2rem;
}

.s-app-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1rem;
}

.s-app-title strong {
	letter-spacing: 4px;
	font-weight: 600;
	font-size: 1.2rem;
	text-shadow: 2px 2px 2px rgb(0 0 0);
}

.header-items {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.8rem;
}

.header-items .sign-in-text {
	cursor: pointer;
	text-decoration: underline;
	font-weight: 700;
	font-size: 1.2rem;
	color: rgb(255, 255, 255);
}

.header-items .sign-up-text {
	cursor: pointer;
	text-decoration: underline;
	font-weight: 700;
	font-size: 1.1rem;
	color: rgb(195, 195, 195);
}

.tooltip-title {
	display: inline-block;
	/* background-color: rgba(97, 97, 97, 0.92); */
	border-radius: 4px;
	color: rgb(214, 214, 214);
	font-family: system-ui, -apple-system;
	padding: 4px 8px;
	font-size: 0.7rem;
	/* max-width: 300px; */
	margin: 0px;
	overflow-wrap: break-word;
	font-weight: 500;
	line-height: 1.4;
	position: relative;
}

.header-items .sign-in-text:hover {
	color: var(--purple4);
}

.header-items .sign-in-text:active {
	color: var(--purple7);
}

/* Sign-in page style  */
.container {
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: flex-start;
	padding-top: 9rem;

	background-color: #02012827;

	color: white;
	height: 100vh;
	overflow: hidden;
}

/* svg animation container */
.hero-animation {
	margin: 0;
	max-width: 1200px;
	height: 100%;
	position: absolute;
	bottom: 0;
	width: 50%;
	overflow: hidden;
	filter: blur(30px);
	z-index: -1;
}

.heading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.heading-primary {
	font-size: 4rem;
	text-shadow: 2px 6px 16px black;
	margin-bottom: 0;
	text-align: center;
	justify-content: center;
	line-height: 1.1;
	opacity: 1;
	transform: none;
}

.heading-secondary {
	display: flex;
	justify-content: center;
	flex-basis: 70%;
	max-width: 70%;
	margin-top: 1.5rem;
	color: var(--mauve7);
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.5;
	opacity: 1;
	text-align: center;
	text-shadow: 0 5px 10px #05024fa9;
}

.image-box {
	margin-bottom: 2rem;
}

/* bg-[#18D860] text-white p-5 rounded-full */

.sign-in-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-size: 1rem;
	margin-top: 1.5rem;
	font-weight: 600;
	background-color: rgb(2, 142, 70);
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;

	padding: 1.1rem 5rem;
	transition: all 0.4s ease;
}

.sign-in-button:hover {
	background-color: rgb(20, 181, 98);
	transform: scale(1.05);
}

.sign-in-button:active {
	background-color: rgb(2, 142, 70);
}

.s-footer {
	font-family: monospace;
	box-sizing: border-box;
	position: fixed;
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	width: 100vw;
	bottom: 0;
	color: var(--mauve8);
	background: transparent;
	text-align: center;
	font-weight: 400;
	font-size: 1rem;

	padding: 1.3rem 2rem;
}

.s-footer svg {
	transition: all 0.4s ease;
}

.s-footer svg:hover {
	transform: rotateZ(-30deg);
	fill: rgb(255, 138, 255);
}
